DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/mv_servis
PAYLOAD_SECRET=promeni-me-u-jak-secret
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
PORT=3000
DEFAULT_ADMIN_EMAIL=axentiyewic@gmail.com
DEFAULT_ADMIN_PASSWORD=orikalkos
DEFAULT_ADMIN_NAME=Super Korisnik
DEFAULT_ADMIN_ROLE=vlasnik
